# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('files/AB_NYC_2019.csv')
df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
# How many neighborhood groups are available and which shows up the most?

#Added a 'count' column to help frame further counting/quantifying questions a little better
df['count'] = 1
#this provides us with the elements in the table grouped by 'neighbourhood' name, while also providing a count - and only showing the 'neighbourhood' and 'count' of each neighbourhood (instead of excess/not necessary columns)
#this also sorts them, with the highest being first
neighbourhoods = df.groupby('neighbourhood', as_index=False).count().sort_values('count', ascending=False)[['neighbourhood','count']]

#per the above assigned variable, we can create another variable that is JUST the count of unique neighborhoods(which is 221):
hood_count = neighbourhoods['neighbourhood'].count()
hood_count

#now we look at 'neighbourhoods' which has the neighbourhood name and their corresponding counts, from highest to lowest. 
#we can then just assign a new variable to be the 'top_neighbourhood'
top_neighbourhood = neighbourhoods.head(1)
#then for future use, we know we can index the name (top_neighbourhood.iloc[0]['neighbourhood']) and count(top_neighbourhood.iloc[0]['count'])
print(f"In total, there are {hood_count} different neighbourhoods listed. The one that shows up the most is {top_neighbourhood.iloc[0]['neighbourhood']} which shows up {top_neighbourhood.iloc[0]['count']} times.")
top_neighbourhood.iloc[0]['count']


#I just realized this question asked for neighbourhood_groups, so here is how you get those answers as well (fortunately it's very similar):
neighbourhood_groups = df.groupby('neighbourhood_group', as_index=False).count().sort_values('count', ascending=False)[['neighbourhood_group','count']]
neighbourhood_groups_count = neighbourhood_groups['neighbourhood_group'].count()
neighbourhood_groups_count

#Now we use my tried and true method of finding the neighbourhood_group that occurs the most
top_neighbourhood_group = neighbourhood_groups.head(1)


top_neighbourhood_group.iloc[0]['neighbourhood_group']
top_neighbourhood_group.iloc[0]['count']
print(f"Additionally - in total there are {neighbourhood_groups_count} different neighborhood groups, of which {top_neighbourhood_group.iloc[0]['neighbourhood_group']} is the most popular with {top_neighbourhood_group.iloc[0]['count']} occurrences.")

In total, there are 221 different neighbourhoods listed. The one that shows up the most is Williamsburg which shows up 3920 times.
Additionally - in total there are 5 different neighborhood groups, of which Manhattan is the most popular with 21661 occurrences.

In [144]:
# Are private rooms the most popular in manhattan?

#first we narrow down the entries for just those in the 'neighbourhood_group' of Manhattan
manhattan_listings = df.loc[df['neighbourhood_group'] == 'Manhattan']
#now that we only have the Manhattan listings, we're able to group by room types, count them and sort highest to lowest
top_manhattan_roomtype = manhattan_listings.groupby('room_type', as_index=False).count().sort_values('count', ascending=False).head(1)
#Now we know the first entry in the highest to lowest ranking for room types (Entire home/apt), so we know it is NOT private rooms.
print(f"We found that the most popular room type in Manhattan is: {top_manhattan_roomtype.iloc[0]['room_type']}")

We found that the most popular room type in Manhattan is: Entire home/apt

In [151]:
# Which hosts are the busiest and based on their reviews?
#From how the table looks, I am assuming host_names may have duplicates/hosts that have the same name, so I am using host_id
#with one line, we're able to group by the host_id (assuming this is unique, vs. host_name which has a chance of being non-unique)
#this gives us the host who is 'busiest' based on the # of properties they have listed
top_host = df.groupby('host_id', as_index=False).count().sort_values('count', ascending=False)[['host_id','number_of_reviews','count']]
top_host.iloc[0]['host_id']
print(f"From our review, we found that Host ID #: {top_host.iloc[0]['host_id']} was the busiest, as they have the most number of properties on the list.")
top_host_by_reviews = df.groupby('host_id',as_index=False).sum().sort_values('number_of_reviews', ascending=False).head(1)
#when looking at total # of reviews across hosts, a different host was found to be most popular:
print(f"Going by review numbers, we found that Host ID#: {int(top_host_by_reviews.iloc[0]['host_id'])} was the most popular, with {int(top_host_by_reviews.iloc[0]['number_of_reviews'])} reviews across their properties.")

From our review, we found that Host ID #: 219517861 was the busiest, as they have the most number of properties on the list.
Going by review numbers, we found that Host ID#: 37312959 was the most popular, with 2273 reviews across their properties.

In [110]:
#Which neighorhood group has the highest average price?
#We single out the mean/avg neighborhood_group prices, and preemptively sort them from highest to lowest
neighbourhood_groups_prices = df.groupby('neighbourhood_group', as_index=False).mean().sort_values('price', ascending=False)[['neighbourhood_group','price']]
#then we can just set a variable for the most expensive neighbourhood group
priciest_neighbourhood_group = neighbourhood_groups_prices.head(1)

print(f"According to the data, the neighbourhood group with the highest average price is the neighbourhood group of: {priciest_neighbourhood_group.iloc[0]['neighbourhood_group']} with an average price of ${round(priciest_neighbourhood_group.iloc[0]['price'],2)}")

According to the data, the neighbourhood group with the highest average price is the neighbourhood group of: Manhattan with an average price of $196.88

In [16]:
# Which neighbor hood group has the highest total price?
df[['neighbourhood_group', 'neighbourhood', 'price']].sort_values('price',ascending=False)
highest_price_properties = df[['neighbourhood_group', 'neighbourhood', 'price']].sort_values('price',ascending=False).head(3)

#Assuming this question meant the neighbourhood group with the highest priced property, there is a 3 way tie as there are 3 listed at $10,000.00

highest_price_properties.iloc[0]['neighbourhood_group'] 
highest_price_properties.iloc[0]['price']

highest_price_properties.iloc[1]['neighbourhood_group'] 
highest_price_properties.iloc[1]['price']

highest_price_properties.iloc[2]['neighbourhood_group'] 
highest_price_properties.iloc[2]['price']

print(f"3 Neighbourhood groups share the title for having the highest priced property, they are: {highest_price_properties.iloc[0]['neighbourhood_group']}, {highest_price_properties.iloc[1]['neighbourhood_group']} and {highest_price_properties.iloc[2]['neighbourhood_group']}.")

#If this question was looking for the neighbourhood group with the highest sum of all listed prices, it would look a little different:
highest_sum_ng = df.groupby('neighbourhood_group', as_index = False).sum()[['neighbourhood_group','price']].sort_values('price', ascending=False).head(1)
print(f"According to the data, the Neighbourhood Group with the highest sum of prices is: {highest_sum_ng.iloc[0]['neighbourhood_group']} where the sum of all listed prices is: ${highest_sum_ng.iloc[0]['price']}")

3 Neighbourhood groups share the title for having the highest priced property, they are: Queens, Brooklyn and Manhattan.
According to the data, the Neighbourhood Group with the highest sum of prices is: Manhattan where the sum of all listed prices is: $4264527

In [32]:
#Which top 5 hosts have the highest total price?
#again, assuming this means the highest 'price' value in the table
#Let's boil down the data to the pertinent info: host_id, host_name, price (of property rental) and then sort by the price value
#Take .head() which defaults to top 5
highest_price_hosts = df[['host_id', 'host_name', 'price']].sort_values('price',ascending=False).head()
highest_price_hosts
priciest_host_list = []
for host in range(len(highest_price_hosts)):
    priciest_host_list.append(f"{highest_price_hosts.iloc[host]['host_name']} - host ID#:{highest_price_hosts.iloc[host]['host_id']} and a price of: ${highest_price_hosts.iloc[host]['price']}")
print(f"Those hosts with the top 5 highest price listings are: 1st {priciest_host_list[0]}, 2nd {priciest_host_list[1]}, 3rd {priciest_host_list[2]}, 4th {priciest_host_list[3]} and 5th {priciest_host_list[4]}")

#Again, if the question is looking for 5 hosts whose prices sum to the highest, it would be a little different
#You would have to group by host_id, then sort by the sum of the price column for each host:
highest_sum_hosts = df.groupby('host_id', as_index=False).sum().sort_values('price', ascending=False).head()
priciest_sum_host_list = []

for host in range(len(highest_sum_hosts)):
    priciest_sum_host_list.append(f"Host ID: {int(highest_sum_hosts.iloc[host]['host_id'])} with prices across their properties adding to: ${round(highest_sum_hosts.iloc[host]['price'])}")

print(f"When ordered by the sum of prices across their properties, the top 5 hosts are: ")
print(f"1st - {priciest_sum_host_list[0]}")
print(f"2nd - {priciest_sum_host_list[1]}")
print(f"3rd - {priciest_sum_host_list[2]}")
print(f"4th - {priciest_sum_host_list[3]}")
print(f"5th - {priciest_sum_host_list[4]}")

Those hosts with the top 5 highest price listings are: 1st Kathrine - host ID#:20582832 and a price of: $10000, 2nd Erin - host ID#:5143901 and a price of: $10000, 3rd Jelena - host ID#:72390391 and a price of: $10000, 4th Matt - host ID#:4382127 and a price of: $9999 and 5th Amy - host ID#:3906464 and a price of: $9999
When ordered by the sum of prices across their properties, the top 5 hosts are:
1st - Host ID: 219517861 with prices across their properties adding to: $82795
2nd - Host ID: 107434423 with prices across their properties adding to: $70331
3rd - Host ID: 156158778 with prices across their properties adding to: $37097
4th - Host ID: 205031545 with prices across their properties adding to: $35294
5th - Host ID: 30283594 with prices across their properties adding to: $33581

In [49]:
# Who currently has no (zero) availability with a review count of 100 or more?

#Assuming we are looking for the unique host's with zero availability and at least 100 or more reviews, we apply this logic:
zero_df = df.groupby('host_id',as_index=False).sum().sort_values('number_of_reviews', ascending=False)
zero_df

print('There are 136 hosts that both have zero availability and 100 or more reviews, as seen below:')
zero_df.loc[(zero_df['availability_365'] == 0) & (zero_df['number_of_reviews'] >= 100)]

#But if we want to approach it as a property-level filter, showing the propery id's that have zero availability and 100+ reviews:
print('There are 162 properties that both have zero availability and 100 or more reviews, as seen below: ')
zero_df_all_props = df.groupby('id',as_index=False).sum().sort_values('number_of_reviews', ascending=False)
zero_df_all_props.loc[(zero_df_all_props['availability_365'] == 0) & (zero_df_all_props['number_of_reviews'] >= 100)]

There are 136 hosts that both have zero availability and 100 or more reviews, as seen below:

,host_id,id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,count
17276,22959695,63732079,203.47368,-369.12657,259,5,1157,30.19,25,0,5
28819,99392252,61989292,162.76779,-295.77713,226,4,732,22.17,16,0,4
30142,121391142,35557158,81.33135,-147.52700,130,2,693,24.96,4,0,2
1866,792159,166172,40.70283,-73.92131,60,3,480,6.70,1,0,1
21420,37818581,63181911,163.20852,-295.75429,360,4,479,12.16,16,0,4
...,...,...,...,...,...,...,...,...,...,...,...
16498,21090508,14455841,81.39672,-147.87008,98,10,100,2.10,4,0,2
28635,96148809,15523119,40.68227,-73.93479,150,2,100,3.26,1,0,1
17044,22423049,9544914,40.67157,-73.94117,36,2,100,2.28,1,0,1
31244,140293912,63907676,121.93851,-221.93403,310,9,100,4.97,9,0,3
22391,42399786,13065356,40.73564,-73.99823,145,3,100,2.62,1,0,1

In [60]:
# What host has the highest total of prices and where are they located?

#Using the previously generated df (highest_sum_hosts) we can see the highest host has an id of 219517861
highest_sum_hosts

#Looking at that host's properties closer, we see that all 327 of them are in the Manhattan neighbourhood_group
df[df['host_id'] == 219517861].groupby('neighbourhood_group').count()

print('The host with the highest total of prices is: Host ID#: 219517861, and all of their properties are in the Manhattan neighbourhood group.')

The host with the highest total of prices is: Host ID#: 219517861, and all of their properties are in the Manhattan neighbourhood group.

In [213]:
# When did Danielle from Queens last receive a review?
#after narrowing down to hosts with host_name of 'Danielle' who are in 'Queens', it turns out there are 3x Danielle in Queens. 
#So we group by both host_id and last_review, so we can see the last review for each of the host ID's.
danielle_df = df.loc[(df['host_name'] == 'Danielle') & (df['neighbourhood_group'] == 'Queens') & (df['number_of_reviews'] != 0)].sort_values(['host_id','last_review'], ascending=False)
danielle_data = []
for i in range(len(danielle_df.head(3))):
    danielle_data.append(f"{danielle_df.iloc[i]['host_name']} (ID #: {danielle_df.iloc[i]['host_id']})s last review was on: {danielle_df.iloc[i]['last_review']}")
print(danielle_data[0])
print(danielle_data[1])
print(danielle_data[2])

#As a safety measure, from referencing the data there is no Danielle in 'Queens Village' neighbourhood.
danielle_df2 = df.loc[(df['host_name'] == 'Danielle') & (df['neighbourhood'] == 'Queens Village')]
danielle_df2

Danielle (ID #: 201647469)s last review was on: 2019-06-20
Danielle (ID #: 154256662)s last review was on: 2018-01-02
Danielle (ID #: 26432133)s last review was on: 2019-07-08

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, count]
Index: []

## Further Questions

1. Which host has the most listings?

In [214]:
most_listing_host = df.groupby('host_id', as_index=False).count().sort_values('count', ascending=False)[['host_id','count']].iloc[0]['host_id']
most_listing_host_count = df.groupby('host_id', as_index=False).count().sort_values('count', ascending=False)[['host_id','count']].iloc[0]['count']

print(f'Host ID {most_listing_host} has the most listings according to the data, with {most_listing_host_count} listings.' )

Host ID 219517861 has the most listings according to the data, with 327 listings.

2. How many listings have completely open availability?

In [5]:
open_available = df.loc[df['availability_365'] == 365].count()['count']

print(f'There are currently {open_available} properties with completely open availability (365/365 availability).')

There are currently 1295 properties with completely open availability (365/365 availability).

3. What room_types have the highest review numbers?

In [246]:
#df.loc['room_type','number_of_reviews']
highest_room_type = df.groupby('room_type', as_index=False).sum()[['room_type','number_of_reviews']].sort_values('number_of_reviews', ascending=False).iloc[0]['room_type']
highest_room_reviews = df.groupby('room_type', as_index=False).sum()[['room_type','number_of_reviews']].sort_values('number_of_reviews', ascending=False).iloc[0]['number_of_reviews']
print(f"The type of room which has the highest amount of rooms is the: {highest_room_type} which has a total of {highest_room_reviews} reviews")

The type of room which has the highest amount of rooms are the: Entire home/apt which has a total of 580403 reviews

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --