# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('files/nbastats2018-2019.csv')
df.columns

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP'],
      dtype='object')

In [36]:
avg_age = df['Age'].mean()

print(f"The average age of players in this dataset is: {round(avg_age,2)} years old.")

The average age of players in this dataset is: 25.9 years old.

# What player scored the most points?

In [29]:
#Two different approaches to this.
#1. Most points as it is laid out in the dataset by default, which appears to be the avg PPG
#In this case, James Harden would have the highest points per game average of 36.1
highest_avg_points = df[['Name','Points']].sort_values('Points', ascending=False).head(1)
print(f"{highest_avg_points.iloc[0]['Name']} had the highest points per game average in this span at: {highest_avg_points.iloc[0]['Points']} per game.")

#2. While it is unlikely to be different, the highest total points for the season could be someone else, in a situation someone only play 1 game and scored a ton of points, they'd technically be the top player with answer #1
#To address this, I create a new column 'Total Points' which is equal to the Points (points per game avg) * # of games (giving total points)
df['Total Points'] = df['Points'] * df['G']
#In the end, the same person had the highest total points for the season (James Harden)
highest_total_points = df[['Name', 'Total Points']].sort_values('Total Points', ascending=False).head(1)
print(f"The same player {highest_total_points.iloc[0]['Name']} had the highest total points for the season with: {highest_total_points.iloc[0]['Total Points']} (decimal value as it is determine from AVG Per Game x # of Games)")

James Harden had the highest points per game average in this span at: 36.1 per game.
The same player James Harden had the highest total points for the season with: 2815.8 (decimal value as it is determine from AVG Per Game x # of Games)

             Name  Total Points
202  James Harden        2815.8

# What player had the most blocks during the season? Was it a post player (F/C)?

In [34]:
#After finding out the total blocks (blocks per game x # of games), I realized there doesn't seem to be a column for position played
#The top blocker was Myles Turner, who does indeed play post/C
df['Total Blocks'] = df['Blocks'] * df['G']
df[['Name','Blocks','Total Blocks']].sort_values('Total Blocks', ascending=False)

print('The player with the most blocks during the season was Myles Turner, who is a post player at the C position.')

The player with the most blocks during the season was Myles Turner, who is a post player at the C position.

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [46]:
df[['Name','G','WS48']].sort_values('WS48', ascending=False)

               Name  G   WS48
405         Zhou Qi  1  1.261
147    Trevon Duval  3  0.537
394  Gary Payton II  3  0.358
95     Troy Caupain  4  0.347
501   Alan Williams  5  0.312
..              ... ..    ...
498     Okaro White  3 -0.251
242    Andre Ingram  4 -0.408
14     Ike Anigbogu  3 -0.480
268  Terrence Jones  2 -0.661
192  Donte Grantham  3 -0.946

[521 rows x 3 columns]

# What player had the best 3-pt percentage?

# Who played the most minutes during the season

In [53]:
df['Total Minutes Played'] = df['MP'] * df['G']
df[['Name','MP','G','Total Minutes Played']].sort_values('Total Minutes Played', ascending=False)

               Name    MP   G  Total Minutes Played
37     Bradley Beal  36.9  82                3025.8
202    James Harden  36.8  78                2870.4
486    Kemba Walker  34.9  82                2861.8
208   Tobias Harris  34.7  82                2845.4
179     Paul George  36.9  77                2841.3
..              ...   ...  ..                   ...
268  Terrence Jones   2.5   2                   5.0
439   Jordan Sibert   4.0   1                   4.0
192  Donte Grantham   0.7   3                   2.1
442    Kobi Simmons   2.0   1                   2.0
405         Zhou Qi   1.0   1                   1.0

[521 rows x 4 columns]

# What player given their player effiecency rating was the clutchest during the season?

# What team had the youngest roster?

# Who is the highest paid player during the seasion?

# At the end of a game, who WOULDN'T you want on the Free Throw Line?